* {
    font-family: Tahoma;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 16px;
}

.container {
    display: grid;
    border: 5px solid #e23636;
}

body {
    background: #dbd9cf;
    max-width: 75%;
    margin: auto auto auto auto;
    padding-top: 1em;
}

img {
    border: 3px solid #504a4a;
}

h1 {
    padding-top: 1em;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    padding-top: 1em;
}

footer {
    background-color: #e23636;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

nav {
    background: #e23636;
    text-align: center;
    margin: auto;
    border-top: #e23636 solid 15px;
}

nav a {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.5em;
}


nav img {
    max-height: 10em;
    left: 0;
    justify-content: center;
}

nav a:hover {
    color: #dbd9cf;
}