.container {
    margin: 2rem auto;
    max-width: 50%;
    width: 90%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 57px;
    padding-top: 2em;
}

section img:hover {
    border: 10px solid #e23636;}

img {
    max-height: 725px;
}

