* {
    text-align: center;
}
.container {
    margin: auto auto;
    grid-template-columns: 1fr 1fr 1fr;

}

.categoriesHeader {
    padding-bottom: 2em;
}

.header h1 {
    width: 25%;
    margin: auto auto;
}

.container img {
    max-width: 80%;
}

.phase {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-bottom: 1em;
}

main img:hover {
    border: 10px solid #e23636;
}