h1 {
    padding-top: 1em;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    padding-top: 1em;
}

body {
    max-width: 75%;
    margin: auto auto auto auto;
    padding-top: 1em;
}

.container {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 20em;
    border: 5px solid #e23636;
}

.moviePoster {
    padding: 2em 2em 2em 2em;
    grid-row-start: 1;
    grid-row-end: 3;
}

.moviePoster img {
    max-height: 35em;
}

.directorAndStars {
    display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 2em 2em 2em 2em;
    margin: auto auto;
}

.director img {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.reviewSection {
    max-height: 100%;
    padding: 1em 1em 1em 1em;
    margin-bottom: auto;
    margin-top: auto;
}

.stars {
    color: #504a4a;
}

.stars img {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.starName {
    text-align: center;
}

.reviewContent {
    background: lightgray;
    padding: 1em 1em 1em 1em;
}

