h1 {
    padding-top: 1em;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    padding-top: 1em;
}

.container {
    grid-template-columns: 33% 67%;
    grid-template-rows: 20em;
}

.posterAndPeople {
    display: grid;
    padding: 2em 2em 2em 2em;
    grid-row-start: 1;
    grid-row-end: 200;
    margin: auto auto;
}

.moviePoster img {
    max-height: 35em;
}

.director img {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.stars {
    color: #504a4a;
}

.stars img {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.starName {
    text-align: center;
}

.trailer {
    padding-top: 2em;
    margin: auto;
}

.trailerVideo {
    border: 3px solid #504a4a;
}

.stats {
    padding: 1em 1em 1em 1em;
    text-align: center;
}

.reviewSection {
    max-height: 100%;
    padding: 3em 1em 1em 1em;
    margin-bottom: auto;
    margin-top: auto;
}

.reviewContent {
    background: lightgray;
    padding: 1em 1em 1em 1em;
}

