<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../css/categories.css">
    <link rel="stylesheet" href="../css/all.css">
    <title class="title">Marvel Phases</title>
</head>

<body>

<nav>
    <img src="\images\title.jpg">
    <a class="backHome" href="/categories/">Phases</a>
    <a class="stars" href="/stars/">Stars</a>
    <a class="directors" href="/directors/">Directors</a>
    <a class-="movies" href="/movies/">Movies</a>
</nav>

<main>

    <div class="container">
        <h2 class="phase">Phases</h2>
        <p class="listOfCategories" th:each="category:${categories}"><a th:href="@{'/categories/'+ ${category.phase}}"> <img
                th:src="${category.imageUrl}"></a>
        </p>
    </div>

</main>

<footer>
    &copy; mallenhaneyii
</footer>
</body>

</html>