<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../css/categories.css">
    <link rel="stylesheet" href="../css/all.css">
    <title class="title">Marvel Phases</title>
</head>

<body>

<div class="container"></div>

<header class="header">
    <h1>Directors></h1>
</header>

<main>
    <p class="listOfCategories" th:each="director:${movies}"><a th:href="@{'/categories/'+ ${category.phase}}"> <img
            th:src="${category.imageUrl}"></a>
    </p>

</main>

</div>

<footer>
    &copy; mallenhaneyii
</footer>
</body>

</html>