<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../css/movie.css">
    <link rel="stylesheet" href="../css/all.css">
    <title th:text="${movie.title}"></title>

</head>

<body>

<nav>
    <img src="\images\title.jpg">
    <a class="backHome" href="/categories">Home</a>
    <a class="backToPhase" th:href="'/categories/'+${movie.category.phase}" th:text="${movie.category.phase}"></a>
</nav>

<div class="container">
    <section class="moviePoster">
        <img class="movieImage" th:src="${movie.imageUrl}">
    </section>

    <section class="reviewSection">
        <h3 class="Review">Review:</h3>
        <p class="reviewContent" th:text="${movie.reviewContent}"></p>
    </section>

    <section class="directorAndStars">
        <h3>Directed by:</h3>
        <p class="director" th:each="director: ${movie.director}">
            <a class="starName" th:href="@{'/stars/'+ ${director.lastName}}"
               th:text="${director.firstName}+' '+ ${director.lastName}"></a>
            <img th:src="${director.imageUrl}"><br>
        </p>
        <h3>Starring:</h3>
        <p class="stars" th:each="star: ${movie.stars}">
            <a class="starName" th:href="@{'/stars/'+ ${star.lastName}}"
               th:text="${star.firstName}+' '+ ${star.lastName}"></a>
            <img th:src="${star.imageUrl}"><br>
            </p>
    </section>
    

</div>

<footer>
    &copy; mallenhaneyii
</footer>
</body>
</html>