<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../css/movie.css">
    <link rel="stylesheet" href="../css/all.css">
    <title th:text="${movie.title}"></title>

</head>

<body>

<div class="container">
    <section class="reviewDetails">
        <a class="backHome" th:href="'/categories/'+${movie.category.phase}" th:text="${movie.category.phase}"></a>
        <h1 class="movieTitle" th:text="${movie.title}"></h1>
        <img class="reviewImage" th:src="${movie.imageUrl}">
        <h2>Directed by:</h2>
        <p class="director" th:each="director: ${movie.director}">
            <a th:href="@{'/directors/'+ ${director.lastName}}"
               th:text="${director.firstName}+' '+ ${director.lastName}"></a></p>
        <h2>Starring:</h2>
        <p class="stars" th:each="star: ${movie.stars}">
            <a th:href="@{'/stars/'+ ${star.lastName}}"
               th:text="${star.firstName}+' '+ ${star.lastName}"></a></p>
        <h2 class="Review">Review:</h2>
        <p class="reviewContent" th:text="${movie.reviewContent}"></p>
    </section>
    <footer>
        &copy; mallenhaneyii
    </footer>
</div>
</body>
</html>