<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../css/category.css">
    <link rel="stylesheet" href="../css/directors.css">
    <link rel="stylesheet" href="../css/all.css">
    <title class="title">All Stars</title>
</head>

<body>

<nav>
    <a class="backHome" href="/categories/">Phases</a>
    <a class="stars" href="/stars/">Stars</a>
    <img src="\images\title.jpg">
    <a class="directors" href="/directors/">Directors</a>
    <a class-="movies" href="/movies/">Movies</a>
</nav>

<main>
    <div class="container">
        <h2 class="phase">Stars</h2>
        <p class="listOfStars" th:each="star:${stars}">
            <a th:href="@{'/stars/'+ ${star.lastName}}"
               th:text="${star.firstName}+' '+ ${star.lastName}"></a><br>
            <img th:src="${star.imageUrl}"></a>
        </p>
    </div>

</main>

<footer>
    &copy; mallenhaneyii
</footer>
</body>

</html>